
.trans-01{
    transition-duration: .1s;
}
.trans-02{
    transition-duration: .2s;
}
.trans-03{
    transition-duration: .3s;
}
.trans-04{
    transition-duration: .4s;
}
.trans-05{
    transition-duration: .5s;
}
  
  